@charset "UTF-8";

/* #16. 메인 스타일 구성 */

body, p, div, span, input, table, th, td, select, textarea
{
	font-size: 14pt;
	color: #343;
	font-family: 맑은 고딕;
}

a{
   text-decoration: none;
   color: gray;
}

a:havor
{
   text-decoration: underline;
   color: red;
}

.table
{
   border-collapse: collapse;
   width: 100%
}


.table th, .table td
{
	border: 1px solid gray;
	border-left: 0px;
	border-right: 0px;
	
	padding: 3px;
	line-height: 150%;
	text-align: center;
}

.table th
{
	font-weight: bold;
	background-color: #eee;
}

.table td
{
	font-size: 12pt;
	
}
.btn
{
	cursor: pointer;
	font-family: 맑은 고딕;
	font-weight: bold;
}

.btn:hover
{
	color: orange;
}


